{% load static %}
<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="Sample Blog Project" />
    <meta name="keywords" content="Sample Blog Project" />
    <meta name="author" content="Oldrich Tylsar" />
    <link rel="shortcut icon" href="{% static 'img/build.png' %}" />
    <title>Sample Blog Project{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'global.css' %}" type="text/css"/>
</head>

<body>
  <header>
    {% block blog_header %}
      <ul id="header-menu">
        <li><a href="{% url 'index' %}">Home</a></li> | 
        {% if not user.is_authenticated %}<li><a href="{% url 'login' %}">Přihlásit</a></li> | 
        <li><a href="{% url 'signup' %}" title="Registrovat se" >Registrovat</a></li>
        {% elif user.is_authenticated %}<li><a href="{% url 'admin:index' %}">Administrace: {{user.username}}</a></li> | 
        <li><a href="{% url 'logout' %}">Odhlásit se</a></li>
        {% endif %}
      </ul>
    {% endblock blog_header %}
  </header>
  {% block tags_searchable %}
  <div>
    <h4>Zobraz relevantní články dané kategorie</h4>
    <p style="display:inline-flex"></p><a href="{% url 'all_list' %}">VŠECHNY</a>
    {% for tag in tags %}
    | <a href="{% url 'article_list' tag.pk %}">{{ tag.name }}</a>
    {% endfor %}
     |
    </p>
  </div>
  {% endblock tags_searchable %}
  {% block articles %}
  <h1>Poslední 3 články z našeho Sample Blogu</h1>
  {% for article in articles %}
  <div class="block">
    <h2>{{article.title}}</h2>
    <h4>Autor: {{article.author}}</h4>
    <p>Článek je {{article.check_time|safe}}</p>
    <p>Poslední aktualizace: <b>{{article.created}}</b></p>
    <p>Kategorie:
    {% for tag in article.tag.all %}
    &nbsp;| <b>{{ tag.name }}</b>
    {% endfor %}
     |</p>
    <img src="{{article.image.url}}" alt="Author: {{ article.author }}" width="300px" height="300px">
    <p>{{article.text|truncatechars:300 }}...<a href="{% url 'blog_detail' article.pk %}">číst dále</a></p>
  </div>
  {% endfor %}
  {% endblock articles %}
</body>