{% extends "./base.html" %}
{% block title %} | {{title}}{% endblock title %}
{% block blog_header.super %}{% endblock blog_header.super %}
{% block articles %}
<div class="block">
  <h2>{{article.title}}</h2>
  <h4>Autor: {{article.author}}</h4>
  <p>Článek je {{article.check_time|safe}}</p>
  <p>Poslední aktualizace: {{article.created}}</p>
  <p>Kategorie:
    {% for tag in article.tag.all %}
    &nbsp;| <b>{{ tag.name }}</b>
    {% endfor %}
   |</p>
  <img src="{{article.image.url}}" alt="Author: {{ article.author }}" width="300px" height="300px">
  <p>{{article.text}}</p>
</div>
{% endblock articles %}