{% extends "./base.html" %}
{% block title %} | Kategorie: {{title}}{% endblock title %}
{% block blog_header.super %}{% endblock blog_header.super %}
{% block articles %}
{% for article in articles %}
<div class="block">
  <p class="left-align">
    <a href="{% url 'blog_detail' article.pk %}">{{article.title}} | {{article.author}} | {{article.created}}</a>
    <img src="{{article.image.url}}" alt="Author: {{ article.author }}" width="25px" height="25px">
  </p>
</div>
{% endfor %}
{% endblock articles %}