{% extends "./base.html" %}
{% block title %} | Kategorie: {{title}}{% endblock title %}
{% block blog_header.super %}{% endblock blog_header.super %}
{% block articles %}
<div class="block">
  <table class="table left-align">
    {% for article in articles %}
    <tr>
      <td><img src="{{article.image_thumbnail.url}}" alt="Author: {{ article.author }}" width="50px" height="50px"></td>
      <td><a href="{% url 'blog_detail' article.pk %}">{{article.author}} | {{article.title}} | {{article.created}}</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock articles %}